*, ::before ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #333;
    height: 100vh;
}
h1{
    color: #f1f1f1;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
.galerie{
    position: relative;
    left: 27%;
    width: 100%;
    margin:20px 25px  15px 0;
    background-color:crimson;
   }
 .item{
     position: relative;
     display: flex;
     width: 80px;
     max-width: 1300px;
     flex-wrap: wrap;
     margin: 12px;

}